#profile-picture{
    margin: 10px;
    float: left;
}

#profile-desc{
    margin-top: 0px;
}

mat-list-item{
    height: 100px !important;
    color: white !important;
    background-image: url("../../assets/profile-bg.png");
}