<mat-list style="display: unset;">
  <mat-list-item>
    <mat-icon style="width: 50px; height: 50px; font-size: 50px;" mat-list-icon>face</mat-icon>
    <h4 class="profile-desc" mat-line>{{ profile.name }}</h4>
    <p class="profile-desc" mat-line> {{ profile.status }} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>