#page-body {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
    width: 100% !important;
}

.mat-card-img-lg-body {
    width: 90%;
}

.mat-card-img-sm-body {
    width: 90%;
    height: 100px;
    position: relative;
}

.mat-card-lg {
    width: 800px;
}

.mat-card-sm {
    width: 100%;
    height: 200px;
    position: relative;
}

div.mat-input-wrapper.mat-form-field-wrapper {
    padding-bottom: 10px !important;
}

.form-width {
    min-width: 90px;
    border: 0px !important;
    max-width: 140px;
    width: 100%;
}