<div>
  <div id="page-body" fxLayout="row" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center center">
    <mat-card class="mat-card-lg" fxFlex="100%">

      <div class='mat-card-title mat-card-title-lg-body' fxLayout fxLayout.xs="row" fxLayoutAlign="center center">
        <img class="mat-card-img-lg-body" src="https://img.elo7.com.br/product/zoom/FBCE34/adesivo-paisagem-praia-decorando-com-adesivos.jpg">
      </div>
      <div class='mat-card-subtitle' fxLayout fxLayout.xs="row" fxLayoutAlign="center center">
        <h1>O problema de tomar café na gravidez</h1>
      </div>

      <mat-card-content style="text-align:justify">
        {{text}}
      </mat-card-content>

      <mat-card-actions style="margin-right:5%;" fxLayoutAlign="end start">
        <button style=" top:6px" (click)="TrocaTexto()" mat-raised-button color="primary">Amo.NET</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="40px" fxLayoutAlign="center center">
    <mat-card class="mat-card-sm" fxFlex="50%">
      <div class='mat-card-title mat-card-title-lg-body' fxLayout fxLayout.xs="row" fxLayoutAlign="center center">
        <img class="mat-card-img-sm-body" src="https://ae01.alicdn.com/kf/HTB1LILlJVXXXXaMXVXXq6xXFXXXL/2017-Natureza-Paisagem-Montanha-Parque-Nacional-Glacier-Lago-Reflex-o-Floresta-Montana-4-Tamanhos-Home-Decor.jpg_640x640.jpg"
          mat-card-lg-image>
      </div>

      <mat-card-content style="margin-left:5%; padding:0">
        <mat-form-field class="form-width" align="center">
          <mat-hint align="start">
            <strong>{{Result}}</strong>
          </mat-hint>
          <textarea matInput placeholder="5 + 5" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="1"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer style="margin-right:5%; " fxLayoutAlign="end start">
        <button (click)="ResultadoConta()" mat-raised-button color="primary" style="bottom: 34px">Acertou?!</button>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-card-sm" fxFlex="50%">
      <div class='mat-card-title mat-card-title-lg-body' fxLayout fxLayout.xs="row" fxLayoutAlign="center center">
        <img class="mat-card-img-sm-body" src="{{url}}" mat-card-lg-image>
      </div>

      <mat-card-content style="text-align:justify">

      </mat-card-content>
      <mat-card-footer style="margin-right:5%; margin-top: 55px;" fxLayoutAlign="end start">

        <button mat-raised-button (click)="ChangeImage()" color="primary" style="bottom: 1px">Trocar</button>

      </mat-card-footer>
    </mat-card>
  </div>
</div>