<mat-toolbar color="primary" class="example-toolbar">
    <button *ngIf="mobileQuery.matches" mat-icon-button (click)="navOpen()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ nomeTela }}</h1>
</mat-toolbar>