mat-sidenav {
    height: 100%;
    bottom: auto;
}

mat-sidenav, mat-expansion-panel, mat-panel-title {
    background-color: #1a237e;
    color: white !important;
}

mat-sidenav-content {
    min-height: 100%;
    position: relative;
}

mat-sidenav-container {
    height: 100%;
    margin: 0px;
}

a {
    color:#FFF;
    text-decoration: none;
}

a:hover 
{
    color: lightgray;
     text-decoration:none; 
     cursor:pointer;  
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.menus-menu > mat-icon, .menus-menu > span {
    vertical-align: middle;
}

.footer {
    height: 50px;
}

#face {
    size: 50px;
    float: left;
}

#sidenav-title {
    padding-left: 20px;
    font-size: 20px;
}