<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">

    <app-profile></app-profile>

    <p class="menus-menu" mat-icon-button id="sidenav-title">
      <mat-icon>menu</mat-icon>
      <span>&nbsp;Menus</span>
    </p>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let menu of menus; let i = index" [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a *ngIf="!menu.submenus" [routerLink]="menu.route">{{ menu.name }}</a>
            <p *ngIf="!!menu.submenus">{{ menu.name }}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let submenu of menu.submenus" style="height: 30px;">
            <a *ngIf="!submenu.submenus" [routerLink]="submenu.route">{{ submenu.name }}</a>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content opened="true">
    <app-menu-top (navToggle)="sidenav.open()"></app-menu-top>
    <app-page-content></app-page-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>